# site properties and page defaults
title: vonMentzer-Group
subtitle: 
description: Website of the von Mentzer Group at the University of Gothenburg, led by Dr Astrid von Mentzer.
header: images/orange2_E873_front_160407.tif
footer: images/orange2_E873_front_160407.tif

# site social media and other links
links:
  email: astrid.von.mentzer@gu.se
  orcid: 0000-0002-2167-1394
  google-scholar: https://scholar.google.com/citations?user=XWiC4SAAAAAJ&hl=en
  github: vonMentzer-Group
  #twitter: vonMentzer-Group
  #LinkedIn: vonMentzer-Group
  #YouTube: XYZ

### jekyll settings

# front matter defaults
defaults:
  # all markdown files
  - scope:
      path: ""
    values:
      layout: default
  # markdown files in /_members
  - scope:
      type: "members"
    values:
      layout: member
  # markdown files in /_posts
  - scope:
      type: "posts"
    values:
      layout: post

collections:
  # generate page for each member
  members:
    output: true
  # generate page for each post
  posts:
    output: true

# jekyll plugins
plugins:
  - jekyll-spaceship
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-last-modified-at

# code block syntax highlighting
highlighter: rouge

# jekyll theme
theme: null

# sass settings
sass:
  sass_dir: _styles

# force jekyll to include certain files/folders
include:
  - _styles
  - _scripts

# force jekyll to exclude certain files/folders
exclude:
  - README.md
  - LICENSE.md
  - CITATION.cff
